 * {
     font-family: arial, Poppins, sans-serif;
     /*background: #f0f1f3;*/
     color: #0c0101;
 }
 .formulario-flotante {
  background-color: #d9deeb; /* Fondo del formulario */
  padding: 20px;
  border-radius: 12px; /* Esquinas suaves */
  
  /* borde flotante: */
  border: 1px solid rgba(0, 0, 0, 0.05); /* Borde casi invisible */
  box-shadow: 
    0 4px 6px -1px rgba(0, 0, 0, 0.1),   /* Sombra suave cercana */
    0 10px 15px -3px rgba(0, 0, 0, 0.1); /* Sombra difuminada lejana */
  
  width: 500px;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Animación suave */
}

 /*.navbar-expand-lg {
     background-color: #8b888b;
 }*/

.texto {
    font-family: Arial, poppins, sans-serif;
    color:#f7f3f5;
    background-color: #2b6cb0;
    text-align: center;
    padding: 5px;
    margin-top: 20px;
}
.text-historia{
    color:#0e0008;
    font-family: Arial, Poppins, sans-serif;

}

 .footer-logo-container {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 100%;
     box-shadow: none;
 }

 .logo-personalizado {
     width: 50px;
     height: auto;
     margin-top: 20px;
     margin-bottom: 20px;
     border-radius: 50px;
     border: 1px solid #333;
     margin-right: 15px;
     margin-left: 10px;
 }

 .logo-container-2 {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 100%;
     box-shadow: none;
 }


 .logo-personalizado-fa {
     width: 50px;
     height: auto;
     margin-top: 10px;
     margin-bottom: 20px;
     border-radius: 50px;
     border: 1px solid #333;
     align-content: center;
     margin-right: 50px;
 }

 .logo-personalizado-fa:hover {
     transform: translateY(-5px);
 }


 .logo-personalizado-ins {
     width: 50px;
     height: auto;
     margin-top: 10px;
     margin-bottom: 20px;
     border-radius: 50px;
     border: 1px solid #333;
     align-content: center;
     margin-right: 50px;
 }

 .logo-personalizado-ins:hover {
     transform: translateY(-5px);
 }

 .logo-personalizado-ti {
     width: 50px;
     height: auto;
     margin-top: 10px;
     margin-bottom: 20px;
     border-radius: 50px;
     border: 1px solid #333;
     align-content: center;
     margin-right: 50px;
 }

 .logo-personalizado-ti:hover {
     transform: translateY(-5px);
 }